.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.AppHeader {
  text-decoration: none;
  font-size: 1.2em;
}

.container {
  display: grid;
  background-color: #333;
  padding: 1rem;
}

.landingInputBox {
  justify-content: center;
  width: 30%;
  margin: auto;
}

.input {
  background-color: lightgray;
  padding: 1rem;
  font-size: 1.3em;
}

.input label {
  margin-right: 1rem;
}

.input input {
  font-size: 1.2em;
}

.modeButton button {
  padding: 1rem;
  width: 50%;
  font-size: 1.2em;

}

.mainVideoContainer {
  display: grid;
}

.mainVideoPlayer {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.selfVideoPlayer {
  max-width: 20rem;
  box-shadow: 5px 5px 10px black;
  grid-column: 1;
  grid-row: 1;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;

}

.streamThumbnail {
  box-shadow: black 0 0 0.5rem;
}

.participantVideoPlayer {
  width: 100%;
  height: 100%;
}

.fullChatBox{
  position: relative;
  height: 20px;
  background-color: #333;
}

.fullChatBox .fullChatBubble{
  position: fixed;
  display: block;
  left: 10px;
  bottom: 50px;
  border: none;
  width: 270px;
  transition: .35s ease-in-out;
  text-align: right;
}

.fullUserBox .fullChatBubble{
  position: fixed;
  display: block;
  left: 10px;
  bottom: 50px;
  border: none;
  width: 270px;
  transition: .35s ease-in-out;
  text-align: left;
}

.fullChatBox .fullChatBubble .chatBubble{
  position: relative;
  border: 1px solid rgb(207, 252, 252);
  border-radius: 5px;
  box-shadow: black 0 0 0.5rem;
  margin: 5px;
  padding: 5px;
  width: fit-content;
  float: left;
  clear: left;
  transition: .35s ease-in-out;
  color: antiquewhite;
}

.fullChatBox .chatConatiner{
  position: fixed;
  display: block;
  left: 10px;
  bottom: 10px;
  border: 1px solid rgb(207, 252, 252);
  border-radius: 50%;
  box-shadow: black 0 0 0.5rem;
  width: 40px;
  height: 15px;
  margin: 5px;
  padding: 5px;
  transition: height .35s ease-in-out;
  justify-content: center;
  align-content: center;
}

.fullChatBox .userConatiner{
  position: fixed;
  display: block;
  left: 75px;
  bottom: 10px;
  border: 1px solid rgb(207, 252, 252);
  border-radius: 50%;
  box-shadow: black 0 0 0.5rem;
  width: 40px;
  height: 15px;
  margin: 5px;
  padding: 5px;
  transition: height .35s ease-in-out;
  justify-content: center;
  align-content: center;
}

/* .fullChatBox .chatConatiner:hover{
  height: 300px;
} */

.fullChatBox .chatConatiner .chatBox{
  display: none;
  width: 95%;
  height: 60%;
  position: absolute;
  background-color: #333;
  border: 1px solid black;
  outline: none;
  font-size: 12px;
  box-shadow: black 0 0 0.5rem;
  overflow: auto;
  top: 30px;
}

.closeButton {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  display: none;
}
.closeButton:hover {
  cursor: pointer;
  opacity: 1;
}
.closeButton:before, .closeButton:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 18px;
  width: 1px;
  background-color: rgb(0, 0, 0);
}
.closeButton:before {
  transform: rotate(45deg);
}
.closeButton:after {
  transform: rotate(-45deg);
}

.fullChatBox .chatConatiner .chatBox .messages{
  display: block;
  text-align: left;
}

.fullChatBox .chatConatiner .sendBox{
  display: none;
  width: 95%;
  height: 30%;
  position: absolute;
  background-color: #333;
  border: 1px solid black;
  outline: none;
  font-size: 12px;
  box-shadow: black 0 0 0.5rem;
  bottom: 5px;
}

.fullChatBox .chatConatiner .sendBox .button{
  position: absolute;
  right: 0px;
  bottom: 0px;
  justify-self: self-start;
}

.userList{
  position: absolute;
  left: 2rem;
  height: 300px;
  padding: 1rem;
  border: 1px solid rgb(207, 252, 252);
  border-radius: 5px;
  overflow: auto;
}

.userList .userListHeader{
  font-weight: bold;
}

.userList .userListList{
  color: antiquewhite;
  text-decoration: none;
  list-style-type: none;
}

.chatFrame{
  margin: 0;
  text-overflow:ellipsis;
  overflow:hidden;
  color: black;
}

.userFrame{
  margin: 0;
  text-overflow:ellipsis;
  overflow:hidden;
  color: black;
}

.text {
  background-color: #333;
  color: antiquewhite;
}
.name {
  color: rgb(131, 190, 241);
}

#record-box span.name {
  font-size: 10px;
}

.online-count {
  text-align: right;
  float: right;
  color: antiquewhite;
  margin: 10px;
}

.online-users {
  text-align: left;
  color: black;
  margin: 10px;
}