.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.AppHeader {
  text-decoration: none;
  font-size: 1.2em;
}

.container {
  display: grid;
  background-color: #333;
  padding: 1rem;
}

.landingInputBox {
  justify-content: center;
  width: 30%;
  margin: auto;
}

.input {
  background-color: lightgray;
  padding: 1rem;
  font-size: 1.3em;
}

.input label {
  margin-right: 1rem;
}

.input input {
  font-size: 1.2em;
}

.modeButton button {
  padding: 1rem;
  width: 50%;
  font-size: 1.2em;

}

.mainVideoPlayer {
  width: 100%;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;

}

.streamThumbnail {
  box-shadow: black 0 0 0.5rem;
}

.participantVideoPlayer {
  width: 100%;
  height: 100%;
}

#send-box {
  position: relative;
  box-sizing: border-box;
  width: 540px;
  height: 175px;
  padding: 10px;
  overflow: hidden;
}

#send-box textarea {
  display: block;
  width: 100%;
  height: 60%;
  background-color: #333;
  border: none;
  outline: none;
  font-size: 12px;
  font-family: arial;
  box-shadow: black 0 0 0.5rem;
  resize: none;
}

#record-box {
  position: relative;
  box-sizing: border-box;
  width: 540px;
  height: 225px;
  padding: 10px 10px 0 10px;
  box-shadow: black 0 0 0.5rem;
  font-size: 12px;
  text-align: left;
  float: left;
  overflow: scroll;
}

.text {
  color: antiquewhite;
}
.name {
  color: rgb(131, 190, 241);
}

#record-box span.name {
  font-size: 10px;
}

.online-count {
  text-align: right;
  float: right;
  color: antiquewhite;
  margin: 10px;
}

.online-users {
  text-align: left;
  color: antiquewhite;
  margin: 10px;
}

.display-flex {
  display: flex;
}
